target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# mac exception
**/.DS_Store

# IDEs
/.idea

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/src/main/ng-client/nbproject/private/
/src/main/ngClient/node_modules/
/src/main/ngClient/
/src/main/webapp/index.html
/src/main/webapp/*.bundle.js
/src/main/webapp/*.bundle.css
/src/main/webapp/assets/*
/src/main/ng6-client/nbproject/private/
/src/main/webapp/Roboto-Light.3c37aa69cd77e6a53a06.woff2
/src/main/webapp/Roboto-Condensed-LightItalic.506b155cfd33a0a90d3b.ttf
/src/main/webapp/styles.4b67baad7cdae0bfe4ac.css
/src/main/webapp/materialdesignicons-webfont.66bb70332c3ba8ade908.ttf
/src/main/webapp/Roboto-Condensed-LightItalic.5f05a4a3878c42a945d1.woff2
/src/main/webapp/Roboto-Condensed-BoldItalic.0b904af2918c203ec922.svg
/src/main/webapp/Roboto-Medium.1561b424aaef2f704bbd.woff2
/src/main/webapp/Roboto-Condensed-Regular.8cb983f9db2dc3cf43e7.svg
/src/main/webapp/Roboto-Condensed-Regular.4596ac08559f0a6951fd.woff2
/src/main/webapp/Roboto-Regular.5136cbe62a63604402f2.woff2
/src/main/webapp/Roboto-Condensed-Regular.a5a6b71255dc832da585.ttf
/src/main/webapp/materialdesignicons-webfont.777d5eed5d8ac5f3ac5f.eot
/src/main/webapp/Roboto-Condensed-Regular.f89702f699ffdac1594d.eot
/src/main/webapp/Roboto-Condensed-Bold.d8b57f9cf3edc45bfdbd.eot
/src/main/webapp/materialdesignicons-webfont.dee67d25e601b5777eeb.svg
/src/main/webapp/Roboto-Thin.1f35e6a11d27d2e10d28.woff2
/src/main/webapp/Roboto-Bold.c0f1e4a4fdfb8048c72e.woff2
/src/main/webapp/scripts.dfe17c794d5054cc4112.js
/src/main/webapp/Roboto-Condensed-Light.0f24c2c0140810794698.woff2
/src/main/webapp/Roboto-Condensed-RegularItalic.cab13fa72a3006086383.svg
/src/main/webapp/3rdpartylicenses.txt
/src/main/webapp/Roboto-Condensed-Bold.aef455e3517b09ae3ad3.woff
/src/main/webapp/Roboto-Condensed-BoldItalic.c1100081f3cfaa80b6d9.eot
/src/main/webapp/Roboto-Condensed-RegularItalic.52d4a974daa40f4f8925.eot
/src/main/webapp/Roboto-Condensed-Light.f3ae85bcdd2230f15b51.svg
/src/main/webapp/polyfills.9f773b75ffcda6bb2a95.js
/src/main/webapp/Roboto-Condensed-Light.e5d43fbd61d51d9b9815.eot
/src/main/webapp/Roboto-Condensed-Bold.587ed44908df84877c5a.svg
/src/main/webapp/Roboto-Bold.eed9aab5449cc9c8430d.woff
/src/main/webapp/Roboto-Condensed-Light.8aaf660cb3cc3c98e752.woff
/src/main/webapp/Roboto-Condensed-Bold.412849bf61ea59b06921.woff2
/src/main/webapp/Roboto-Condensed-LightItalic.bdd8fa78280332e0dc8d.woff
/src/main/webapp/Roboto-Condensed-Regular.1cb153bec75d944bd485.woff
/src/main/webapp/runtime.a66f828dca56eeb90e02.js
/src/main/webapp/materialdesignicons-webfont.24a45ab82bdfa1fcc91c.woff
/src/main/webapp/Roboto-Regular.3cf6adf61054c328b1b0.woff
/src/main/webapp/Roboto-Condensed-RegularItalic.e271a330fd4cb000a034.woff
/src/main/webapp/Roboto-Light.ea36cd9a0e9eee97012a.woff
/src/main/webapp/Roboto-Medium.cf4d60bc0b1d4b231408.woff
/src/main/webapp/Roboto-Condensed-RegularItalic.9adcef66acccf59c290b.ttf
/src/main/webapp/main.ebfa409fac5f9ba0883d.js
/src/main/webapp/Roboto-Condensed-RegularItalic.1b05ec1503855a5bfc18.woff2
/src/main/webapp/Roboto-Condensed-BoldItalic.b520ee32aa54885cd99e.woff
/src/main/webapp/Roboto-Condensed-LightItalic.bd477b411b5629a6ad18.eot
/src/main/webapp/Roboto-Condensed-BoldItalic.2f50bd7b29c4fd5f88df.woff2
/src/main/webapp/Roboto-Thin.44b78f142603eb69f593.woff
/src/main/webapp/Roboto-Condensed-Light.117f6877039e410a8be2.ttf
/src/main/webapp/Roboto-Condensed-Bold.36b5da03333893066696.ttf
/src/main/webapp/Roboto-Condensed-LightItalic.103a7291be0af3cfe635.svg
/src/main/webapp/materialdesignicons-webfont.098aafda4b974d4a6432.woff2
/src/main/webapp/Roboto-Condensed-BoldItalic.a6bb894eee15eda546f5.ttf
nbactions.xml
src/main/webapp/index.html
src/main/webapp/main.*.js
src/main/webapp/polyfills.*.js
src/main/webapp/styles.*.css
