### IntelliJ IDEA ###
.idea

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Env ###
.env
.env.local
*.key
*-key.pem
**/secrets/

### Development ###
solr-data/*
permonik-database/reindex/new-solr-data/*
__pycache__/
*.pyc

**/.gradle/

build
docs/

.playwright-mcp/
.cortexkit/

__pycache__/
*.pyc
