services:
  permonik-api:
    depends_on:
      - permonik-database
      - permonik-redis
    build:
      context: .
      dockerfile: permonik-api/docker/Dockerfile
    networks:
      - permonik
    ports:
      - "8080:8080"
    deploy:
      resources:
        limits:
          memory: '1024M'
    environment:
      SOLR_URL: http://permonik-database:8983/solr
      REDIS_HOST: permonik-redis
      SPRING_PROFILES_ACTIVE: dev
      TZ: "Europe/Prague"

  permonik-database:
    image: solr:9.10.0
    networks:
      - permonik
    ports:
      - "8983:8983"
    deploy:
      resources:
        limits:
          memory: '2048M'
    environment:
      SOLR_JAVA_MEM: "-Xms1g -Xmx1g"
      SOLR_MODULES: analysis-extras
    volumes:
      - ./solr-data:/var/solr

  permonik-redis:
    image: redis:8-alpine
    networks:
      - permonik
    ports:
      - "6379:6379"
    deploy:
      resources:
        limits:
          memory: 100m
    volumes:
      - redis-volume:/data
    command: [ "redis-server", "--appendonly", "yes" ]


      #  permonik-shibboleth-idp:
      #    image: klaalo/shibboleth-idp:5.1.3
      #    networks:
      #      - permonik
      #    ports:
      #      - "8443:8080"
      #    volumes:
      #    - ./permonik-shibboleth-idp/conf/idp.properties:/opt/shibboleth-idp/conf/idp.properties:ro
      #    - ./permonik-shibboleth-idp/conf/relying-party.xml:/opt/shibboleth-idp/conf/relying-party.xml:ro
      #    - ./permonik-shibboleth-idp/conf/authn/password-authn-config.xml:/opt/shibboleth-idp/conf/authn/password-authn-config.xml:ro
      #    - ./permonik-shibboleth-idp/credentials/demo.htpasswd:/opt/shibboleth-idp/credentials/demo.htpasswd:ro
      #    - ./permonik-shibboleth-idp/metadata/idp-metadata.xml:/opt/shibboleth-idp/metadata/idp-metadata.xml:ro

      #  permonik-shibboleth-sp:
      #    build:
      #      context: ./permonik-shibboleth-sp
      #      dockerfile: Dockerfile
      #    networks:
      #      - permonik
      #    ports:
      #      - "8084:80"
      #    deploy:
      #      resources:
      #        reservations:
      #          memory: '12M'
      #        limits:
      #          memory: '24M'
    #    volumes:
    #      - ./permonik-shibboleth-sp/dev-config/shibboleth2.xml:/etc/shibboleth/shibboleth2.xml:ro
    #      - ./permonik-shibboleth-sp/dev-config/attribute-map.xml:/etc/shibboleth/attribute-map.xml:ro
    #      - ./permonik-shibboleth-sp/dev-config/idp-metadata.xml:/etc/shibboleth/idp-metadata.xml:ro
    ##      - ./permonik-shibboleth-sp/dev-config/sp-cert.pem:/etc/shibboleth/sp-cert.pem:ro
    ##      - ./permonik-shibboleth-sp/dev-config/sp-key.pem:/etc/shibboleth/sp-key.pem:ro
    #    depends_on:
    #      - permonik-shibboleth-idp

    #  permonik-gateway:
    #    depends_on:
    #      - permonik-shibboleth-sp
    #    build:
    #      context: .
    #      dockerfile: permonik-gateway/Dockerfile
    #    networks:
    #      - permonik
    #    ports:
    #      - "80:80"
    #    deploy:
    #      resources:
    #        reservations:
    #          memory: '12M'
    #        limits:
    #          memory: '24M'

networks:
  permonik:

volumes:
  redis-volume:
