<h1 mat-dialog-title>
  <ng-container [ngSwitch]="editType">
    <span *ngSwitchCase="'new'">{{ 'Add exemplar' | translate }}</span>
    <span *ngSwitchCase="'duplicate'">{{ 'Duplicate exemplar' | translate }}</span>
    <span *ngSwitchDefault>{{ 'Edit exemplar' | translate }}</span>
  </ng-container>
</h1>
<div mat-dialog-content>
  <div style="margin-bottom: 16px;">
    ISSUE: <span class="app-font-bold">{{ issue.nazev }}, {{ issue.datum_vydani | date: 'dd.MM.yyyy' }}</span>
  </div>
  <ng-container [ngSwitch]="editType">
    <div fxLayout="row" *ngSwitchCase="'new'" fxLayoutGap="16px">
      <mat-form-field fxFlex>
        <mat-label>{{ 'record.ownership' | translate }}</mat-label>
        <mat-select [id]="'owner'" [name]="'owner'" [(ngModel)]="exemplar.vlastnik">
          <mat-option *ngFor="let owner of state.owners" [value]="owner.name">{{owner.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput [placeholder]="'record.barcode' | translate" [id]="'carovy_kod'" [name]="'carovy_kod'" [(ngModel)]="exemplar.carovy_kod" type="text">
      </mat-form-field>
    </div>
    <div *ngSwitchCase="'duplicate'">
      <div>
        Exemplar: {{ exemplar.vlastnik }} {{ exemplar.carovy_kod }}
      </div>
      <mat-form-field>
        <input matInput [matDatepicker]="pickerOd" placeholder="Choose a date" [(ngModel)]="startDate">
        <mat-datepicker-toggle matSuffix [for]="pickerOd"></mat-datepicker-toggle>
        <mat-datepicker #pickerOd></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="pickerTo" placeholder="Choose a date" [(ngModel)]="endDate">
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="onspecial" id="onSpecialDays">{{ 'modal.on_special_days' | translate }}</mat-checkbox>
    </div>
    <div *ngSwitchDefault>
      Exemplar: {{ exemplar.vlastnik }} <a (click)="editSvazek(exemplar.carovy_kod)">{{ exemplar.carovy_kod }}</a>&#160;
      <a (click)="editSvazek(exemplar.carovy_kod)" [matTooltip]="'Editovat svazek' | translate" [matTooltipPosition]="'above'">
        <mat-icon>all_inbox</mat-icon>
      </a>
    </div>
  </ng-container>

  <div fxLayout="row" fxLayoutGap="16px">
    <mat-form-field fxFlex="33.3333%">
      <mat-label>{{ 'Select stavy' | translate }}</mat-label>
      <mat-select [id]="'stav'" [name]="'stav'" [(ngModel)]="exemplar.stav">
        <mat-option *ngFor="let stav of state.stavy" [value]="stav">
          {{ 'record.StavIssue.' + stav | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field  fxFlex="33.3333%">
      <input matInput [placeholder]="'record.state_com' | translate" [id]="'stav_popis'" [name]="'stav_popis'" [(ngModel)]="exemplar.stav_popis" type="text">
    </mat-form-field>
    <mat-form-field  fxFlex="33.3333%">
      <input matInput [placeholder]="'record.signatura' | translate" id="signatura" name="signatura" [(ngModel)]="exemplar.signatura" type="text" autocomplete="on">
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutGap="16px">
    <mat-form-field fxFlex="50%">
      <input matInput [placeholder]="'record.oznaceni' | translate" [id]="'oznaceni'" [name]="'oznaceni'" [(ngModel)]="exemplar.oznaceni" type="text" #box (keyup)="filterOznaceni(box.value)">
    </mat-form-field>
    <mat-form-field fxFlex="50%">
      <input matInput [placeholder]="'record.popis_oznaceni_vydani' | translate" [id]="'popis_oznaceni_vydani'" [name]="'popis_oznaceni_vydani'" [(ngModel)]="exemplar.popis_oznaceni_vydani" type="text">
    </mat-form-field>
  </div>
  
  <div *ngIf="showPages">
    <span class="app-font-bold">{{ 'record.lost_pages' | translate }}</span>
    <div class="app-grid-wrapper">
      <div *ngFor="let page of pagesRange">
        <mat-checkbox [id]="'pg'+page.label" [(ngModel)]="page.sel">{{ page.label }}</mat-checkbox>
      </div>
    </div>
  </div> 
</div>
<div mat-dialog-actions>
  <button mat-button (click)="ok()">OK</button>
  <button mat-button (click)="cancel()">{{ 'button.cancel' | translate }}</button>
</div>