<mz-modal [fixedFooter]="true">
  <mz-modal-header>
    <ng-container [ngSwitch]="ex">
      <span *ngSwitchCase="-1">{{'Add exemplar' | translate}}</span>
      <span *ngSwitchDefault>{{'Edit exemplar' | translate}}</span>
    </ng-container>
  </mz-modal-header>
  
  <mz-modal-content>
      <div>
        ISSUE: {{issue.nazev}}, {{issue.datum_vydani | date: 'dd.MM.yyyy'}}
      </div>
    <div>
      
    <ng-container [ngSwitch]="ex">
      <span *ngSwitchCase="-1">
        <mz-input-container>
          <input mz-input [label]="'record.ownership' | translate" [id]="'vlastnik'" [name]="'vlastnik'" [(ngModel)]="exemplar.vlastnik" type="text">
        </mz-input-container>
        <mz-input-container>
          <input mz-input [label]="'record.barcode' | translate" [id]="'carovy_kod'" [name]="'carovy_kod'" [(ngModel)]="exemplar.carovy_kod" type="text">
        </mz-input-container>
      </span>
      <span *ngSwitchDefault>
        Exemplar: {{exemplar.vlastnik}} {{exemplar.carovy_kod}}
      </span>
    </ng-container>
    </div>
      <mz-select-container>
        <select mz-select [id]="'stav'" [name]="'stav'" [(ngModel)]="exemplar.stav">
          <option *ngFor="let stav of stavy" [value]="stav.key">{{'record.StavIssue.' + stav.key | translate}}</option>
        </select>
      </mz-select-container>
      <mz-input-container>
        <input mz-input [label]="'record.state' | translate" [id]="'stav_popis'" [name]="'stav_popis'" [(ngModel)]="exemplar.stav_popis" type="text">
      </mz-input-container>
      <mz-input-container>
        <input mz-input [label]="'record.signatura' | translate" [id]="'signatura'" [name]="'signatura'" [(ngModel)]="exemplar.signatura" type="text">
      </mz-input-container>
  </mz-modal-content>
  
  <mz-modal-footer>
      <button mz-button [flat]="true" (click)="ok()">OK</button>
      <button mz-button [flat]="true" mz-modal-close (click)="cancel()">{{'button.cancel' | translate}}</button>
  </mz-modal-footer>
</mz-modal>