<mz-collection>
  <mz-collection-header>
    Aktivní filtry
    <i mz-icon-mdi [icon]="'close-circle'" [class]="'app-clean-mg app-cursor-pointer'" mz-tooltip [tooltip]="'Odstranit všechny filtry'" [position]="'top'"></i>
  </mz-collection-header>

  <mz-collection-item>
    <span class="app-cursor-pointer" mz-tooltip [tooltip]="'Odstranit tento filtr'" [position]="'top'">
      <i mz-icon-mdi [icon]="'check'" [class]="'app-clean-mg'"></i>
      <i mz-icon-mdi [icon]="'close'" [class]="'app-clean-mg'"></i>
      Filtr 1
    </span>
  </mz-collection-item>
</mz-collection>