.withSelectAllArrow{
  text-align: center;
  .mat-icon{
    margin-right: 0;
    cursor: pointer;
  }
}

.not_logged{
  filter: grayscale(1);
  cursor: default !important;
}

.attachmentsAtTheEndOfThePage{
  margin-left: 10px;
}

.disabled{
  color: gray
}

.split-area{
  display: flex;
}

.mat-option{
  font-size: 12px;
  line-height: 3em;
  height: 3em;
}
