.withSelectAllArrow{
  text-align: center;
  .mat-icon{
    margin-right: 0;
    cursor: pointer;
  }
}

.not_logged{
  filter: grayscale(1);
  cursor: default !important;
}

.attachmentsAtTheEndOfThePage{
  margin-left: 10px;
}

.disabled{
  color: gray
}

.split-area{
  display: flex;
}

.mat-option{
  font-size: 12px;
  line-height: 3em;
  height: 3em;
}

.znak_oznaceni_vydani_select{
  position: absolute;
  top: 105%;
  left: 0;
  //right: 0;
  z-index: 1000;
  background-color: white;
  padding: 5px;
  border: 1px solid #ddd;
  font-size: 20px;
  div{
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
  }
  span{
    //width: fit-content;
    padding: 4px;
    color: black;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: u2400;
  }
}

.znak_oznaceni_vydani_container{
  position: relative;
}
