<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="app-svazek-wrapper" (click)="closeInfoOverlay()" *ngIf="state.currentVolume">
  <div class="app-container-left">
    <div class="app-table-wrapper app-left-top">
      <table mat-table [dataSource]="dsSvazek" #table>
        <!-- Atribut -->
        <ng-container matColumnDef="attribute">
          <th mat-header-cell *matHeaderCellDef>{{'desc.atribut' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{ 'record.' + element | translate}}</td>
          <td mat-footer-cell *matFooterCellDef colspan="2">
            <button mat-flat-button color="primary" (click)="readClick()" [disabled]="loading">
              {{ 'button.load_the_entire_volume' | translate }}
            </button>
            <button mat-flat-button color="primary" (click)="save()" [disabled]="!state.logged || loading">
              <mat-icon *ngIf="!state.logged" [matTooltip]="'note.this_action_is_not_allowed_not_login' | translate"
                matTooltipPosition="above">{{ config.icons.block }}</mat-icon>
              {{ 'button.save_the_entire_volume' | translate }} {{dataChanged ? '!!' : ''}}
            </button>
            <button mat-icon-button [disabled]="loading">
              <mat-icon [routerLink]="'/result/'+ state.currentTitul.id" [matTooltip]="'desc.display_table' | translate">
                {{ config.icons.view_table }}</mat-icon>
              <mat-icon [matTooltip]="'desc.volume_overview' | translate" (click)="showSvazekOverview()"
                matTooltipPosition="above">{{ config.icons.info }}</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Value -->
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>{{'desc.hodnota' | translate}}</th>
          <td mat-cell *matCellDef="let element"
            [ngClass]="{'app-edit-text' : element !== 'titul' && element !== 'vlastnik'}">
            <ng-container [ngSwitch]="element">
              <ng-container *ngSwitchCase="'titul'">
                <mat-select [(ngModel)]="titul_idx" (ngModelChange)="setTitul()">
                  <mat-option *ngFor="let tit of state.tituly; let idx=index;" [value]="idx">{{tit.meta_nazev}}
                  </mat-option>
                  <mat-option [value]="-1">{{'desc.add_new_title' | translate}}</mat-option>
                </mat-select>
              </ng-container>
              <ng-container *ngSwitchCase="'mutace'">
                <mat-form-field>
                  <input type="text" matInput [(ngModel)]="state.currentVolume.mutace" [matAutocomplete]="auto2">
                  <mat-icon>{{ config.icons.pencil }}</mat-icon>
                </mat-form-field>
                <mat-autocomplete #auto2="matAutocomplete">
                  <mat-option *ngFor="let mut of mutations;" [value]="mut.name">{{mut.name}}</mat-option>
                </mat-autocomplete>
              </ng-container>
              <ng-container *ngSwitchCase="'znak_oznaceni_vydani'">
                <mat-form-field>
                  <input type="text" matInput [(ngModel)]="state.currentVolume.znak_oznaceni_vydani"
                    [matAutocomplete]="auto">
                  <mat-icon>{{ config.icons.pencil }}</mat-icon>
                </mat-form-field>
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let oznaceni of oznaceni_list; let idx=index;" [value]="oznaceni.name">
                    {{oznaceni.name}}</mat-option>
                </mat-autocomplete>
              </ng-container>
              <ng-container *ngSwitchCase="'vlastnik'">
                <mat-select [(ngModel)]="vlastnik_idx" (ngModelChange)="changeVlastnik()">
                  <mat-option *ngFor="let vlastnik of config.owners; let idx=index;" [value]="idx">{{vlastnik.name}}
                  </mat-option>
                </mat-select>
              </ng-container>


              <ng-container *ngSwitchCase="'datum_od'">
                <mat-form-field floatLabel="never">
                  <input matInput [matDatepicker]="pickerOd" [placeholder]="'desc.choose_date' | translate"
                    (dateChange)="setVolumeDatum(element, $event)" [(ngModel)]="state.currentVolume[element]"
                    id="datum_od" name="datum_od">
                  <mat-datepicker-toggle matSuffix [for]="pickerOd"></mat-datepicker-toggle>
                  <mat-datepicker #pickerOd></mat-datepicker>
                </mat-form-field>
              </ng-container>
              <ng-container *ngSwitchCase="'datum_do'">
                <mat-form-field floatLabel="never">
                  <input matInput [matDatepicker]="pickerDo" [placeholder]="'desc.choose_date' | translate"
                    [(ngModel)]="state.currentVolume[element]" (dateChange)="setVolumeDatum(element, $event)"
                    id="datum_do" name="datum_do">
                  <mat-datepicker-toggle matSuffix [for]="pickerDo"></mat-datepicker-toggle>
                  <mat-datepicker #pickerDo></mat-datepicker>
                </mat-form-field>
              </ng-container>


              <ng-container *ngSwitchDefault>
                <mat-form-field>
                  <input type="text" matInput [(ngModel)]="state.currentVolume[element]">
                  <mat-icon>{{ config.icons.pencil }}</mat-icon>
                </mat-form-field>
              </ng-container>
            </ng-container>
          </td>
          <td mat-footer-cell *matFooterCellDef colspan="0"></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="svazekColumns; sticky: true" class="app-header-row-left-top"></tr>
        <tr mat-row *matRowDef="let row; columns: svazekColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="svazekColumns; sticky: true"></tr>
      </table>
    </div>
    <!--/.app-table-left-top -->

    <div class="app-table-wrapper app-left-bottom">
      <table mat-table [dataSource]="state.currentVolume.periodicita">
        <!-- Vydani (den v tydnu) -->
        <ng-container matColumnDef="den">
          <th mat-header-cell *matHeaderCellDef>{{ 'desc.comming'  | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ 'days.' + element.den | translate}}</td>
          <td mat-footer-cell *matFooterCellDef colspan="7">
            <button mat-flat-button color="primary" (click)="generateClick()" [disabled]="!state.logged || loading">
              <mat-icon *ngIf="!state.logged" [matTooltip]="'note.this_action_is_not_allowed_not_login' | translate"
                matTooltipPosition="above">{{ config.icons.block }}</mat-icon>
              {{ 'button.generate_again' | translate }}
            </button>
          </td>
        </ng-container>

        <!-- Number exist -->
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>{{ 'desc.number_exists' | translate }}</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.active"></mat-checkbox>
          </td>
          <td mat-footer-cell *matFooterCellDef colspan="7"></td>
        </ng-container>

        <!-- Vydani -->
        <ng-container matColumnDef="vydani">
          <th mat-header-cell *matHeaderCellDef>{{ 'desc.edition' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field *ngIf="element.active">
              <mat-select [(ngModel)]="element.vydani">
                <mat-option *ngFor="let v of state.vydani" [value]="v">{{'record.publication.' + v | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef colspan="7"></td>
        </ng-container>

        <!-- Pocet stranek -->
        <ng-container matColumnDef="pocet_stran">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>{{ 'record.pages_count' | translate }}</div>
          </th>
          <td mat-cell *matCellDef="let element" class="app-edit-text">
            <mat-form-field *ngIf="element.active" class="app-short-text">
              <input type="text" matInput [(ngModel)]="element.pocet_stran">
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef colspan="7"></td>
        </ng-container>

        <!-- Name -->
        <ng-container matColumnDef="nazev">
          <th mat-header-cell *matHeaderCellDef>
            <div>{{ 'desc.name' | translate }}</div>
          </th>
          <td mat-cell *matCellDef="let element" class="app-edit-text">
            <mat-form-field *ngIf="element.active">
              <input type="text" matInput [(ngModel)]="element.nazev">
              <mat-icon>{{ config.icons.pencil }}</mat-icon>
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef colspan="7"></td>
        </ng-container>

        <!-- Subname -->
        <ng-container matColumnDef="podnazev">
          <th mat-header-cell *matHeaderCellDef>
            <div>{{ 'desc.subname' | translate }}</div>
          </th>
          <td mat-cell *matCellDef="let element" class="app-edit-text">
            <mat-form-field *ngIf="element.active">
              <input type="text" matInput [(ngModel)]="element.podnazev">
              <mat-icon>{{ config.icons.pencil }}</mat-icon>
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef colspan="7"></td>
        </ng-container>

        <!-- Button-->
        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>{{ 'desc.insert_next_edition' | translate}}</div>
          </th>
          <td mat-cell *matCellDef="let element; let idx=index">
            <a *ngIf="element.active" (click)="addVydani(element, idx)"
              [matTooltip]="'desc.insert_next_edition' | translate" matTooltipPosition="above">
              <mat-icon>{{ config.icons.add_circle }}</mat-icon>
            </a>
          </td>
          <td mat-footer-cell *matFooterCellDef colspan="7"></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsLeftTableBottom; sticky: true"
          class="app-header-row-left-bottom"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsLeftTableBottom;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumnsLeftTableBottom; sticky: true"></tr>
      </table>
    </div>
    <!--/.app-table-left-bottom -->
  </div>
  <!--/.app-container-left -->

  <div class="app-container-right">
    <div class="app-table-wrapper app-right">
      <table mat-table [dataSource]="dsIssues">
        <!-- Edit issue -->
        <ng-container matColumnDef="edit_issue">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>{{ 'desc.edit_issue' | translate }}</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <a (click)="viewIssue(element.issue)">
              <mat-icon [matTooltip]="'desc.edit_issue' | translate" matTooltipPosition="above">
                {{ config.icons.edit_issue }}</mat-icon>
            </a>
          </td>
        </ng-container>

        <!-- Date -->
        <ng-container matColumnDef="datum_vydani">
          <th mat-header-cell *matHeaderCellDef>{{ 'desc.date' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            {{ element.datum_vydani | date : 'EE dd.MM.yyy' : '+0430' : 'cs-CZ' }}
          </td>
        </ng-container>

        <!-- Number exist -->
        <ng-container matColumnDef="numExists">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>{{ 'desc.number_exists' | translate }}</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.numExists" (change)="checkElementExists(element)"></mat-checkbox>
          </td>
        </ng-container>

        <!-- Add next edition -->
        <ng-container matColumnDef="addNextEdition">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>{{ 'desc.insert_next_edition' | translate }}</div>
          </th>
          <td mat-cell *matCellDef="let element; let idx=index">
            <a (click)="addIssue(element, idx)" *ngIf="element.numExists">
              <mat-icon [matTooltip]="'desc.insert_next_edition' | translate" matTooltipPosition="above">
                {{ config.icons.add_circle }}</mat-icon>
            </a>
          </td>
        </ng-container>

        <!-- Edition number -->
        <ng-container matColumnDef="cislo">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>{{ 'desc.number' | translate }}</div>
          </th>
          <td mat-cell *matCellDef="let element" class="app-edit-text">
            <mat-form-field *ngIf="element.numExists" class="app-short-text">
              <input type="text" matInput [(ngModel)]="element.cislo">
            </mat-form-field>
          </td>
        </ng-container>

        <!-- Mutation -->
        <ng-container matColumnDef="mutace">
          <th mat-header-cell *matHeaderCellDef>{{ 'record.mutation' | translate }}</th>
          <td mat-cell *matCellDef="let element" class="app-edit-text">
            <mat-form-field *ngIf="element.numExists">
              <input type="text" matInput [(ngModel)]="element.mutace" [matAutocomplete]="auto3">
              <mat-icon>{{ config.icons.pencil }}</mat-icon>
            </mat-form-field>
            <mat-autocomplete #auto3="matAutocomplete">
              <mat-option *ngFor="let mut of mutations;" [value]="mut.name">{{mut.name}}</mat-option>
            </mat-autocomplete>
          </td>
        </ng-container>

        <!-- Edition -->
        <ng-container matColumnDef="vydani">
          <th mat-header-cell *matHeaderCellDef class="app-cell-edition">{{ 'desc.edition' | translate }}</th>
          <td mat-cell *matCellDef="let element" class="app-cell-edition">
            <mat-form-field *ngIf="element.numExists">
              <mat-select [(ngModel)]="element.vydani">
                <mat-option *ngFor="let v of state.vydani" [value]="v">{{'record.publication.' + v | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <!-- Name -->
        <ng-container matColumnDef="nazev">
          <th mat-header-cell *matHeaderCellDef>
            <div>{{ 'desc.name' | translate }}</div>
          </th>
          <td mat-cell *matCellDef="let element" class="app-edit-text">
            <ng-container *ngIf="element.numExists">
              <mat-form-field>
                <input type="text" matInput [(ngModel)]="element.nazev">
                <mat-icon>{{ config.icons.pencil }}</mat-icon>
              </mat-form-field>
            </ng-container>
          </td>
        </ng-container>

        <!-- Subname -->
        <ng-container matColumnDef="podnazev">
          <th mat-header-cell *matHeaderCellDef>
            <div>{{ 'desc.subname' | translate }}</div>
          </th>
          <td mat-cell *matCellDef="let element" class="app-edit-text">
            <ng-container *ngIf="element.numExists">
              <mat-form-field>
                <input type="text" matInput [(ngModel)]="element.podnazev">
                <mat-icon>{{ config.icons.pencil }}</mat-icon>
              </mat-form-field>
            </ng-container>
          </td>
        </ng-container>

        <!-- Page number -->
        <ng-container matColumnDef="pocet_stran">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>{{ 'record.pages_count' | translate }}</div>
          </th>
          <td mat-cell *matCellDef="let element" class="app-edit-text">
            <mat-form-field *ngIf="element.numExists" class="app-short-text">
              <input type="text" matInput [(ngModel)]="element.pocet_stran">
            </mat-form-field>
          </td>
        </ng-container>

        <!-- Mutation edition -->
        <ng-container matColumnDef="znak_oznaceni_vydani">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>{{ 'desc.mutation_edition' | translate }}</div>
          </th>
          <td mat-cell *matCellDef="let element" class="app-edit-text">
            <mat-form-field *ngIf="element.numExists" class="app-short-text">
              <input type="text" matInput [(ngModel)]="element.znak_oznaceni_vydani">
            </mat-form-field>
          </td>
        </ng-container>

        <!-- Destroyed pages -->
        <ng-container matColumnDef="destroyedPages">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>{{ 'record.pages_damaged' | translate }}</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox *ngIf="element.numExists" [(ngModel)]="element.destroyedPages" #dsp
              (mouseenter)="viewPS(element, 'destroyedPages', dsp, pagesPopup)"></mat-checkbox>
          </td>
        </ng-container>

        <!-- Degradated -->
        <ng-container matColumnDef="degradated">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>{{ 'record.StavIssue.Deg' | translate }}</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox *ngIf="element.numExists" [(ngModel)]="element.degradated" #deg
              (mouseenter)="viewPS(element, 'degradated', deg, pagesPopup)"></mat-checkbox>
          </td>
        </ng-container>

        <!-- Missing pages -->
        <ng-container matColumnDef="missingPages">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>{{ 'record.StavIssue.ChS' | translate }}</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox *ngIf="element.numExists" [(ngModel)]="element.missingPages" #mp
              (mouseenter)="viewPS(element, 'missingPages', mp, pagesPopup)"></mat-checkbox>
          </td>
        </ng-container>

        <!-- Erroneous paging -->
        <ng-container matColumnDef="erroneousPaging">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>{{ 'record.StavIssue.ChPag' | translate }}</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox *ngIf="element.numExists" [(ngModel)]="element.erroneousPaging" #ep
              (mouseenter)="viewPS(element, 'erroneousPaging', ep, pagesPopup)"></mat-checkbox>
          </td>
        </ng-container>

        <!-- Erroneous date -->
        <ng-container matColumnDef="erroneousDate">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>{{ 'record.StavIssue.ChDatum' | translate }}</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox *ngIf="element.numExists" [(ngModel)]="element.erroneousDate" #ed
              (mouseenter)="viewPS(element, 'erroneousDate', ed, pagesPopup)"></mat-checkbox>
          </td>
        </ng-container>

        <!-- Erroneous numbering -->
        <ng-container matColumnDef="erroneousNumbering">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>{{ 'record.StavIssue.ChCis' | translate }}</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox *ngIf="element.numExists" [(ngModel)]="element.erroneousNumbering" #en
              (mouseenter)="viewPS(element, 'erroneousNumbering', en, pagesPopup)"></mat-checkbox>
          </td>
        </ng-container>

        <!-- Wrongly bound -->
        <ng-container matColumnDef="wronglyBound">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>{{ 'record.StavIssue.ChSv' | translate }}</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox *ngIf="element.numExists" [(ngModel)]="element.wronglyBound" #wb
              (mouseenter)="viewPS(element, 'wronglyBound', wb, pagesPopup)"></mat-checkbox>
          </td>
        </ng-container>

        <!-- Censored -->
        <ng-container matColumnDef="censored">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>{{ 'record.StavIssue.Cz' | translate }}</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox *ngIf="element.numExists" [(ngModel)]="element.censored" #cz
              (mouseenter)="viewPS(element, 'censored', cz, pagesPopup)"></mat-checkbox>
          </td>
        </ng-container>

        <!-- Poznamka -->
        <ng-container matColumnDef="poznamka">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>{{ 'desc.note' | translate }}</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <a *ngIf="element.numExists" (click)="viewPozn(element, poznPopup, poznEl)">
              <mat-icon #poznEl
                [matTooltip]="('desc.edit_note' | translate) + (element.poznamka !== '' ? (': &quot;' + element.poznamka) + '&quot;' : '')"
                matTooltipPosition="above">{{ element.poznamka === '' ? config.icons.info_outline : config.icons.info }}
              </mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="issueColumns; sticky: true" class="app-header-row-right"></tr>
        <tr mat-row *matRowDef="let row; columns: issueColumns;" [style.background]="rowColor(row)"></tr>
      </table>
      <!-- <mat-paginator [pageSizeOptions]="[25, 50, 100]" [length]="numFound" [pageSize]="rows"
        [pageIndex]="page" (page)="pageChanged($event)" showFirstLastButtons></mat-paginator> -->
    </div>
  </div>
</div>

<ng-template #pagesPopup>
  <mat-card class="app-popover-card app-popover-card-missing">
    <mat-card-content [ngClass]="'app-clean-mg'">
      <mat-form-field>
        <input matInput [placeholder]="'desc.description' | translate" [(ngModel)]="popText" />
      </mat-form-field>
      <ng-container *ngIf="popShowPages">
        <div class="app-font-bold">{{ 'record.pages_' + editingProp | translate }}</div>
        <div class="app-grid-wrapper">
          <div *ngFor="let page of pagesRange">
            <mat-checkbox [id]="'pg'+page.label" [(ngModel)]="page.sel">{{ page.label }}</mat-checkbox>
          </div>
        </div>
      </ng-container>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button *ngIf="popShowPages" (click)="updatePages()">{{ 'button.update' | translate}}</button>
      <button mat-flat-button (click)="closePop()">{{ 'button.close' | translate}}</button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<ng-template #poznPopup>
  <mat-card class='app-popover-card'>
    <mat-card-content [ngClass]="'app-clean-mg'">
      <mat-form-field>
        <input matInput [placeholder]="'desc.note' | translate" [(ngModel)]="poznText" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button (click)="updatePoznamka()">{{ 'button.update' | translate}}</button>
      <button mat-flat-button (click)="closePop()">{{ 'button.close' | translate}}</button>
    </mat-card-actions>
  </mat-card>
</ng-template>