<div class="app-svazek-wrapper grey lighten-4" *ngIf="state.configured">
  <div class="app-container-left">
    
    <div class="app-table-wrapper app-left-top">
      <table mat-table [dataSource]="dataSourceLeftTableTop">   
        <!-- Atribut -->
        <ng-container matColumnDef="attribute">
          <th mat-header-cell *matHeaderCellDef>atribut</th>
          <td mat-cell *matCellDef="let element">{{ element | translate}}</td>
          <td mat-footer-cell *matFooterCellDef colspan="2">
            <button mat-raised-button (click)="read()">(Znovu) načíst celý svazek</button>
            <button mat-raised-button (click)="save()">Uložit celý svazek</button> 
          </td>
        </ng-container>

        <!-- Value -->
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>hodnota</th>
          <td mat-cell *matCellDef="let element">
            <ng-container [ngSwitch]="element">
              <ng-container *ngSwitchCase="'titul'">
                <mat-select [(ngModel)]="titul_idx" (ngModelChange)="setTitul()">
                  <mat-option *ngFor="let tit of state.tituly; let idx=index;" [value]="idx" >{{tit.meta_nazev}}</mat-option>
                  <mat-option [value]="-1" >{{'Add new titul' | translate}}</mat-option>
                </mat-select>
              </ng-container>
              <ng-container *ngSwitchCase="'mutace'">

                  <mat-form-field>
                      <input type="text" matInput [(ngModel)]="mutace" [matAutocomplete]="auto2">
                    </mat-form-field>
                    
                    <mat-autocomplete #auto2="matAutocomplete">
                      <mat-option *ngFor="let mut of mutations;" [value]="mut.name">{{mut.name}}</mat-option>
                    </mat-autocomplete>
              </ng-container>
              <ng-container *ngSwitchCase="'znak_oznaceni_vydani'">
                  <mat-form-field>
                    <input type="text" matInput [(ngModel)]="oznaceni" [matAutocomplete]="auto">
                  </mat-form-field>
                  
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let oznaceni of oznaceni_list; let idx=index;" [value]="oznaceni.name">{{oznaceni.name}}</mat-option>
                  </mat-autocomplete>
              </ng-container>
              <ng-container *ngSwitchCase="'vlastnik'">
                <mat-select [(ngModel)]="vlastnik_idx" (ngModelChange)="changeVlastnik()">
                  <mat-option *ngFor="let vlastnik of state.config.owners; let idx=index;" [value]="idx" >{{vlastnik.name}}</mat-option>
                </mat-select>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <input [(ngModel)]="state.currentVolume[element]" />
              </ng-container>
            </ng-container>
          </td>
          <td mat-footer-cell *matFooterCellDef colspan="0"></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsLeftTableTop; sticky: true" class="app-header-row-left-top"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsLeftTableTop;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumnsLeftTableTop; sticky: true"></tr>
      </table>
    </div><!--/.app-table-left-top -->
    
    <div class="app-table-wrapper app-left-bottom">
      <table mat-table [dataSource]="dsPeriodicita">   
        <!-- Vydani (den v tydnu) -->
        <ng-container matColumnDef="den">
          <th mat-header-cell *matHeaderCellDef>Vychazi</th>
          <td mat-cell *matCellDef="let element">{{ 'days.' + element.den | translate}}</td>
          <td mat-footer-cell *matFooterCellDef colspan="7">
            <button mat-raised-button (click)="generateVolume()">Vygenerovat / vygenerovat znovu</button>
          </td>
        </ng-container>
    
        <!-- Number exist -->
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>číslo existuje</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.active"></mat-checkbox>
          </td>
          <td mat-footer-cell *matFooterCellDef colspan="7"></td>
        </ng-container>

        <!-- Vydani -->
        <ng-container matColumnDef="vydani">
          <th mat-header-cell *matHeaderCellDef>vydani</th>
          <td mat-cell *matCellDef="let element" >
            <mat-form-field *ngIf="element.active">
              <mat-select [(ngModel)]="element.vydani">
                <mat-option *ngFor="let v of state.vydani" [value]="v">{{'record.publication.' + v | translate }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef colspan="7"></td>
        </ng-container>
        
        <!-- Pocet stranek -->
        <ng-container matColumnDef="pocet_stran">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>počet stran</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <input *ngIf="element.active" [(ngModel)]="element.pocet_stran" />
          </td>
          <td mat-footer-cell *matFooterCellDef colspan="7"></td>
        </ng-container>

        <!-- This is attachement -->
        <ng-container matColumnDef="isPriloha">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>Toto je priloha</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox *ngIf="element.active" [(ngModel)]="element.isPriloha"></mat-checkbox>
          </td>
          <td mat-footer-cell *matFooterCellDef colspan="7"></td>
        </ng-container>

        <!-- Attachement name -->
        <ng-container matColumnDef="nazev_prilohy">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>název přílohy</div>
          </th>
          <td mat-cell *matCellDef="let element">
              <input *ngIf="element.active && element.isPriloha" [(ngModel)]="element.nazev_prilohy" />
          </td>
          <td mat-footer-cell *matFooterCellDef colspan="7"></td>
        </ng-container>

        <!-- Button-->
        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element; let idx=index">
            <!-- <button mat-raised-button>Vlozit dalsi vydani</button>  -->
            <a *ngIf="element.active" (click)="addVydani(element, idx)" title="Vlozit dalsi vydani">Vlozit dalsi vydani</a>
          </td>
          <td mat-footer-cell *matFooterCellDef colspan="7"></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsLeftTableBottom; sticky: true" class="app-header-row-left-bottom"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsLeftTableBottom;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumnsLeftTableBottom; sticky: true"></tr>
      </table>
    </div><!--/.app-table-left-bottom -->
  </div><!--/.app-container-left -->

  <div class="app-container-right">
    <div class="app-table-wrapper app-right">
      <table mat-table [dataSource]="dataSourceRightTable">   
        <!-- Date -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>datum</th>
          <td mat-cell *matCellDef="let element">{{ element.date }}</td>
        </ng-container>
    
        <!-- Number exist -->
        <ng-container matColumnDef="numExist">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>číslo existuje</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox></mat-checkbox>
          </td>
        </ng-container>

        <!-- Add next edition -->
        <ng-container matColumnDef="addNextEdition">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>přidat další vydání</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <i mz-icon-mdi [icon]="'plus'" [size]="24" (click)="viewIssue(row)"></i>
          </td>
        </ng-container>
    
        <!-- Edition number -->
        <ng-container matColumnDef="editionNumber">
          <th mat-header-cell *matHeaderCellDef>cislo</th>
          <td mat-cell *matCellDef="let element">{{ element.editionNumber }}</td>
        </ng-container>

        <!-- Mutation -->
        <ng-container matColumnDef="mutation">
          <th mat-header-cell *matHeaderCellDef>mutace</th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field>
              <mat-select [(value)]="selected">
                <mat-option value="option1">Praha</mat-option>
                <mat-option value="option2">Brno</mat-option>
                <mat-option value="option3">Olomouc</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <!-- Edition -->
        <ng-container matColumnDef="edition">
          <th mat-header-cell *matHeaderCellDef>vydani</th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field>
              <mat-select>
                <mat-option *ngFor="let vydani of state.config.vydani" value="option1">{{vydani}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <!-- This is attachement -->
        <ng-container matColumnDef="thisIsAttachement">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>toto je příloha</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox></mat-checkbox>
          </td>
        </ng-container>

        <!-- Attachement name -->
        <ng-container matColumnDef="attachementName">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>název přílohy</div>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.attachementName }}
          </td>
        </ng-container>

        <!-- Page number -->
        <ng-container matColumnDef="pageNumber">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>počet stran</div>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.pageNumber }}
          </td>
        </ng-container>

        <!-- Mutation edition -->
        <ng-container matColumnDef="mutationEdition">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>mutační vydání</div>
          </th>
          <td mat-cell *matCellDef="let element">
            ?
          </td>
        </ng-container>

        <!-- Destroyed pages -->
        <ng-container matColumnDef="destroyedPages">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>poškozené strany</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox></mat-checkbox>
          </td>
        </ng-container>

        <!-- Degradated -->
        <ng-container matColumnDef="degradated">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>degradované</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox></mat-checkbox>
          </td>
        </ng-container>

        <!-- Missing pages -->
        <ng-container matColumnDef="missingPages">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>chybí strany</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox></mat-checkbox>
          </td>
        </ng-container>

        <!-- Erroneous paging -->
        <ng-container matColumnDef="erroneousPaging">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>chybná paginace</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox></mat-checkbox>
          </td>
        </ng-container>

        <!-- Erroneous date -->
        <ng-container matColumnDef="erroneousDate">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>chybné datum</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox></mat-checkbox>
          </td>
        </ng-container>

        <!-- Erroneous numbering -->
        <ng-container matColumnDef="erroneousNumbering">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>chybné číslování</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox></mat-checkbox>
          </td>
        </ng-container>

        <!-- Wrongly bound -->
        <ng-container matColumnDef="wronglyBound">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>chybně svázáno</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox></mat-checkbox>
          </td>
        </ng-container>

        <!-- Censored -->
        <ng-container matColumnDef="censored">
          <th mat-header-cell *matHeaderCellDef class="app-cell-rotate">
            <div>cenzurováno</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox></mat-checkbox>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumnsRightTable; sticky: true" class="app-header-row-right"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsRightTable;"></tr>
      </table>
    </div>
  </div>
</div>