solr:
  host: ${SOLR_URL:http://localhost:8983/solr}

spring:
  profiles:
    active: dev
server:
  port: 8080
  forward-headers-strategy: FRAMEWORK
  error:
    path: /error
    whitelabel:
      enabled: true
    include-exception: true
    include-message: always

logging:
  level:
    org:
      springframework:
        security: "DEBUG"
