spring:
  profiles:
    active: dev
  threads:
    virtual:
      enabled: true
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: 6379

#sentry:
#  dsn: ${SENTRY_DSN}
#  send-default-pii: true
#  exception-resolver-order: -2147483647

solr:
  host: ${SOLR_URL:http://localhost:8983/solr}

server:
  port: 8080
  forward-headers-strategy: FRAMEWORK
  error:
    path: /error
    whitelabel:
      enabled: true
    include-exception: true
    include-message: always
  servlet:
    session:
      cookie:
        path: /
        name: "SESSION"
        secure: false
        http-only: true
        same-site: strict
      timeout: 480m

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
#logging:
#  level:
#    org:
#      springframework:
#        security: "DEBUG"
