spring:
  config:
    activate:
      on-profile: prod
  threads:
    virtual:
      enabled: true
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: 6379

solr:
  host: http://permonik-database:8983/solr

server:
  port: 8080
  forward-headers-strategy: FRAMEWORK
  error:
    path: /error
    whitelabel:
      enabled: true
    include-exception: true
    include-message: always
  servlet:
    session:
      cookie:
        path: /
        name: "SESSION"
        secure: true
        http-only: true
        same-site: strict
      timeout: 480m

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

logging:
  file:
    name: "permonik-api.log"

#sentry:
#  dsn: https://9f91a75be26765d75c01ff9930b2f38f@newsentry.inqool.cz/17
#  logging:
#    minimum-event-level: info
#    minimum-breadcrumb-level: info
#    enabled: true
