<mz-modal [fixedFooter]="true">
  <mz-modal-header>
    {{'Edit pages' | translate}}. 
  </mz-modal-header>

  <mz-modal-content>
    
      <div>
        <mz-input-container *ngFor="let p of pages" [inline]="true">
        <input mz-input [id]="'p_'+p.index" [(ngModel)]="p.label" size="5">
        </mz-input-container>
      </div>
      
  </mz-modal-content>

  <mz-modal-footer>
    <button mz-button [flat]="true" (click)="ok()">OK</button>
    <button mz-button [flat]="true" mz-modal-close>{{'button.close' | translate}}</button>
  </mz-modal-footer>
</mz-modal>