<h2 mat-dialog-title>{{'heslo.change_heslo' | translate}}</h2>

<form [formGroup]="hesloForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
        <mat-form-field>
            <input matInput [placeholder]="'heslo.old_heslo' | translate" [formControl]="f.oldheslo" type="password" cdkFocusInitial>
            <mat-error *ngIf="f.oldheslo.hasError('required')">
                {{'heslo.old_required' | translate}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [placeholder]="'heslo.new_heslo' | translate" [formControl]="f.newheslo" type="password" />
            <mat-error *ngIf="f.newheslo.hasError('required')">
                {{'heslo.new_required' | translate}}
            </mat-error>
        </mat-form-field>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close type="button">{{ 'desc.cancel' | translate }}</button>
        <button mat-button [disabled]="loading" type="submit">OK</button>
    </mat-dialog-actions>
</form>