<h1 mat-dialog-title>
  {{ 'desc.volume_overview' | translate }}: {{ data.carKod }}
</h1>
<div mat-dialog-content class="app-svazek-overview">
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <ng-container *ngIf="volume">
  <div *ngIf="volume.titul">
    <strong>{{ 'record.titul' | translate }}:</strong> {{ volume.titul.meta_nazev }}
  </div>
  <div>
    <strong>{{ 'record.vlastnik' | translate}}:</strong> {{ volume.vlastnik }}
  </div>
  <div>
    <strong>{{ 'record.signatura' | translate}}:</strong> {{ volume.signatura }}
  </div>
  <div>
    <strong>{{ 'record.carovy_kod' | translate}}:</strong> {{ volume.carovy_kod }}
  </div>
  <div>
    <strong>{{ 'record.mutace' | translate}}:</strong> {{ volume.mutace }}
  </div>
  <div>
    <strong>{{ 'record.year' | translate}}:</strong>
    <div fxLayout="row" fxLayoutGap="16px" *ngFor="let year of years">
      <div fxFlex="40px">{{year.name | date : 'yyyy'}}</div>
      <div fxFlex="40px">{{year.value}}x</div>
    </div>
  </div>
  <div>
    <strong>{{ 'desc.dates' | translate }}:</strong> 1.7.1970 - 30.9.1970
  </div>
  <div>
    <strong>{{ 'desc.numbers' | translate }}:</strong> 151-231
  </div>
  <div>
    <strong>{{ 'desc.mutation_edition' | translate}}:</strong>
    <div fxLayout="row" fxLayoutGap="16px" *ngFor="let f of znaky">
      <div fxFlex="100px">{{f.name}}</div>
      <div fxFlex="100px">{{f.value}}x</div>
    </div>
  </div>
  <div>
    <strong>{{ 'desc.publication' | translate}}:</strong>
    <div fxLayout="row" fxLayoutGap="16px" *ngFor="let f of vydani">
      <div fxFlex="100px">{{'record.publication.' + f.name | translate}}</div>
      <div fxFlex="100px">{{f.value}}x</div>
    </div>
  </div>
  <div>
    <strong>{{ 'desc.complete' | translate }}:</strong> Ano / Ne
  </div>
  <div>
    <strong>{{ 'Přehled typů poškození' | translate}}:</strong>
    <div fxLayout="row" fxLayoutGap="16px">
      <div fxFlex="100px">Degradované</div>
      <div fxFlex="100px">76x</div>
    </div>
    <div fxLayout="row" fxLayoutGap="16px">
      <div fxFlex="100px">Poškozené strany</div>
      <div fxFlex="100px">2x</div>
    </div>
  </div>
  <div>
    <strong>{{ 'Chybějící čísla' | translate}}:</strong>
    <div fxLayout="row" fxLayoutGap="16px">
      <div fxFlex="100px">pa</div>
      <div fxFlex="100px">3.7.1970</div>
      <div fxFlex="100px">153</div>
    </div>
    <div fxLayout="row" fxLayoutGap="16px">
      <div fxFlex="100px">pa</div>
      <div fxFlex="100px">3.7.1970</div>
      <div fxFlex="100px">153</div>
    </div>
  </div>
  <div>
    <strong>{{ 'Fyzický stav' | translate }}:</strong> Vyhovujici / Poskozeny
  </div>
  <div>
    <strong>{{ 'Poškozená čísla' | translate}}:</strong>
    <div fxLayout="row" fxLayoutGap="16px">
      <div fxFlex="100px">pa</div>
      <div fxFlex="100px">3.7.1970</div>
      <div fxFlex="100px">153</div>
    </div>
    <div fxLayout="row" fxLayoutGap="16px">
      <div fxFlex="100px">pa</div>
      <div fxFlex="100px">3.7.1970</div>
      <div fxFlex="100px">153</div>
    </div>
  </div>
  <div>
    <strong>{{ 'Poznamky' | translate}}:</strong>
    <div fxLayout="row" fxLayoutGap="16px">
      <div fxFlex="100px">pa</div>
      <div fxFlex="100px">3.7.1970</div>
      <div fxFlex="100px">153</div>
      <div fxFlex="100px">vystřižený článek na s. 1</div>
    </div>
  </div>
</ng-container>
  
</div>
<div mat-dialog-actions>
  <!-- <button mat-button (click)="ok()">OK</button> -->
  <button mat-button mat-dialog-close>{{ 'button.close' | translate }}</button>
</div>