<div class="app-facet-wrapper">
  <mz-collapsible [mode]="'expandable'">
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header>
        Facet title 1
        <i mz-icon-mdi [icon]="'chevron-down'" [class]="'app-clean-mg'"></i>
        <i mz-icon-mdi [icon]="'chevron-left'" [class]="'app-clean-mg'"></i>
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
      <mz-collection>
        <ng-container>
          <mz-collection-item>
            <span class="app-row">
              <a>item 1</a>
              <span>
                133
              </span>
            </span>
          </mz-collection-item>
          <mz-collection-item>
            <span class="app-row">
              <a>item 1</a>
              <span>
                133
              </span>
            </span>
          </mz-collection-item>
          <mz-collection-item>
            <span class="app-row">
              <a>item 1</a>
              <span>
                133
              </span>
            </span>
          </mz-collection-item>
        </ng-container>
      </mz-collection>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header>
        Facet title 1
        <i mz-icon-mdi [icon]="'chevron-down'" [class]="'app-clean-mg'"></i>
        <i mz-icon-mdi [icon]="'chevron-left'" [class]="'app-clean-mg'"></i>
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
      <mz-collection>
        <ng-container>
          <mz-collection-item>
            <span class="app-row">
              <a>item 1</a>
              <span>
                133
              </span>
            </span>
          </mz-collection-item>
          <mz-collection-item>
            <span class="app-row">
              <a>item 1</a>
              <span>
                133
              </span>
            </span>
          </mz-collection-item>
          <mz-collection-item>
            <span class="app-row">
              <a>item 1</a>
              <span>
                133
              </span>
            </span>
          </mz-collection-item>
        </ng-container>
      </mz-collection>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
  </mz-collapsible>
</div>