// --- GLOBAL ---

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  color: $app-primary-color;
  margin-top: 0 !important;
  font-weight: 500;
}

a,
.app-cursor-pointer {
  cursor: pointer !important;
  text-decoration: unset;
}

a {
  .mat-icon {
    color: $app-primary-color-darker;
  }
}


// font
.app-font-family-rc {
  font-family: 'Roboto Condensed', sans-serif !important;
}

.app-font-bold {
  font-weight: 700;
}

.app-font-light {
  font-weight: 300;
}

.app-fl-low {
  &:first-of-type {
    text-transform: lowercase;
    vertical-align: inherit !important;
  }
}

.app-no-content {
  font-size: 0.7rem;
  color: $app-gray-7;
}


//cleaners
.app-clean-mg {
  margin: 0 !important;
}

.app-clean-pd {
  padding: 0 !important;
}

.app-clean-radius {
  border-radius: 0 !important;
}

.app-clean-border {
  border: 0 !important;
}

.app-clean-shadow {
  box-shadow: none !important;
}

.app-clean-bg {
  background-color: transparent !important;
}


// clearfix
.clearfix {
  @include clearfix();
}


// full width
.app-full-width {
  width: 100%;
}


// app preloader wrapper
.app-preloader-wrapper {
  margin-top: 100px;
}


// global wrapper, container
.app-full-wrapper {
  height: 100%;
  overflow: auto;
}

.app-container {
  padding: $app-container;
}

.app-fx-wrap {
  flex-wrap: wrap;
}

.app-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: $app-gap;
}

.app-gap-top {
  margin-top: $app-gap;
}

.app-gap-bottom {
  margin-bottom: $app-gap;
}


// others
.btn:not(.btn-floating) {
  //@extend .z-depth-0;
  i {
    &.left {
      margin-right: 5px;
    }
    &.right {
      margin-left: 5px;
    }
  }
}

.app-pipe {
  @include set-border(right, 1, solid, $app-gray-4);
  margin: 0 10px;
}

ul.app-pages{
  padding: 3px;
}

li.app-page-item{
  list-style-type: circle;
  display: inline-block;
  margin-right: 20px;
}
li.app-page-item label{
  padding-left: 22px;
}


// custom popover
.app-popover-card {
  max-width: 800px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px ;

  &.app-popover-card-missing {
    width: 400px;
  }
}

.app-popover-card::after {
  content: "";
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px ;
  transform: rotate(225deg);
  top: -10px;
  right: 25px;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent $app-color-white $app-color-white transparent;
}

// --- material ---

// font behavior
.mat-toolbar,
.mat-expansion-panel-header,
.mat-expansion-panel-content,
.mat-list .mat-subheader,
.mat-list-item {
  @extend .app-font-family-rc;
  font-size: 15px !important;
}

// toolbar
.mat-toolbar {
  .mat-icon{
    @include setIcon($va: middle);
  }
}

// expansion panel
.mat-expansion-panel {
  .mat-expansion-panel-header {
    font-weight: 700;
  }

  .mat-icon {
    @include setIcon(18);
  }

  .mat-expansion-panel-header,
  .mat-expansion-panel-body {
    padding-left: $app-gap;
    padding-right: $app-gap;
  }
}

// form field
.mat-form-field {
  .mat-form-field-suffix {
    margin-left: $app-gap;
  }
}

.app-short-text{
  .mat-form-field-suffix {
    margin-left: 2px;
  }
}

// mat list
.mat-list {
  .mat-icon {
    @include setIcon(18, $color: inherit);
  }
}

// mat table
.mat-table {
  .mat-form-field-underline,
  .mat-form-field-subscript-wrapper {
    display: none;
  }

  .mat-header-cell,
  .mat-cell {
    .mat-icon {
      @include setIcon(16);
    }
  }

  .mat-datepicker-toggle-default-icon {
    width: 1.4em !important;
  }

  tbody {
    .mat-row {
      height: fit-content;

      .mat-cell {
        a {
          &:hover {
            color: $app-primary-color-darker;
          }
        }
      }
    }
  }

  &.app-table-gap-5 {
    @extend .app-full-width;

    thead {
      .mat-header-row {
        .mat-header-cell {
          @extend .app-clean-radius;
          background-color: $app-gray-3;
          border-right: 1px solid white;
          padding: 5px;
          border-bottom: 0 !important;
        }
      }
    }

    tbody {
      .mat-row {
        height: fit-content !important;

        &.app-even {
          background-color: $app-gray-1;
        }

        &:hover {
          background-color: $app-gray-2;
        }

        .mat-cell {
          padding: 5px !important;
        }
      }
    }
  }
}

// button
.mat-button-base {
  &:not(:last-child) {
    margin-right: $app-gap-icon !important;
  }


  &.mat-primary {
    background-color: $app-primary-color-darker;
  }

  &.mat-flat-button {
    .mat-icon {
      @include setIcon($size: 20, $va: middle, $color: inherit);
    }
  }
}

// progress bar
.mat-progress-bar {
  position: absolute !important;
  .mat-progress-bar-fill {
    &:after {
      background-color: $app-progress-bar-bg-fill;
    }
  }
}

// icon
.mat-icon {
  &.app-icon-missing-page {color: $app-icon-color-missing-page !important}
  &.app-icon-damaged-document {color: $app-icon-color-damaged-document !important}
  &.app-icon-complete-degradation {color: $app-icon-color-complete-degradation !important}
  &.app-icon-complete {color: $app-icon-color-complete !important}
  &.app-icon-uncontrolled {color: $app-icon-color-uncontrolled !important}
}

span {
  &.app-icon-missing-page {background-color: #ed1c24 !important}
  &.app-icon-damaged-document {background-color: #ff7f27 !important}
  &.app-icon-complete-degradation {background-color: #ff7f27 !important}
  &.app-icon-complete {background-color: #22b14c !important}
  &.app-icon-uncontrolled {background-color: white !important; border: 1px solid black}
}

// facet view class
.app-fx-facet {
  background-color: $app-color-white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 997;
  overflow: auto;
}

// alerts
.app-alert-warning {
  color: $app-red;
}


// dialog
.mat-dialog-container {
  .mat-icon {
    @include setIcon(20, $va: middle);
  }
}


// snack
.app-snack-success, .app-snack-success-middle {
	background-color: $app-success-color;
	color: $app-color-white;
}

.app-snack-error, .app-snack-error-middle {
	background-color: $app-warning-color;
	color: $app-color-white;
}

.app-snack-success-middle, .app-snack-error-middle {
  margin-top: 45vh !important;
}



.app-svazek-overview {
  & > div {
    margin-bottom: 10px;

    & > strong {
      display: block;
    }
  }
}
