<div class="app-toolbar-wrapper valign-wrapper">
  <div class="app-col-count">
    <app-toolbar-count></app-toolbar-count>
  </div><!--/.app-col-count -->
  <div class="app-col-nav row app-clean-mg">
    <div class="col s3 app-clean-pd">
      <app-toolbar-pagination-calendar *ngIf="showCalendar()"></app-toolbar-pagination-calendar>
      <app-toolbar-pagination-result *ngIf="showResult()"></app-toolbar-pagination-result>
    </div><!--/.col -->
    <div class="col s6 center-align">
      <span *ngIf="showCalendar()">
        {{state.currentTitul.meta_nazev}}
      </span>
    </div>
    <div class="col s3 app-clean-pd right-align">
      <app-toolbar-nav-views *ngIf="showCalendar()"></app-toolbar-nav-views>
    </div><!--/.col -->
  </div><!--/.app-col-nav -->
</div><!--/.app-toolbar-wrapper -->