<div class="app-toolbar-wrapper valign-wrapper">
  <div class="app-col-count">
    <app-toolbar-count></app-toolbar-count>
  </div><!--/.app-col-count -->
  <div class="app-col-nav">
    <div class="left">
      <app-toolbar-pagination-calendar *ngIf="state.activePage == '/calendar' || state.activePage == '/calendar/month' || state.activePage == '/calendar/year' || state.activePage == '/calendar/list'"></app-toolbar-pagination-calendar>
      <app-toolbar-pagination-result *ngIf="state.activePage == '/result'"></app-toolbar-pagination-result>
    </div><!--/.left -->
    <div class="right" *ngIf="state.activePage == '/calendar' || state.activePage == '/calendar/month' || state.activePage == '/calendar/year' || state.activePage == '/calendar/list'">
      <app-toolbar-nav-views></app-toolbar-nav-views>
    </div><!--/.right -->
  </div><!--/.app-col-nav -->
</div><!--/.app-toolbar-wrapper -->