.calendar{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.weekday {
  width: 13%;
  height: 20px;
  margin: 0px;
  border: solid 1px #eeeeee;
  background: gray;
  color: white;
  text-align: center;
}

.day {
  width: 13%;
  height: 100px;
  margin: 0px;
  border: solid 1px #eeeeee;
}