// --- NAVBAR ---

app-navbar {
  .mat-toolbar {
    height: $app-navbar-height;
    background-color: $primary-color;

    a {
      color: $app-navbar-font-color;
    }

    .brand-logo {
      font-size: 1.8rem;
      font-family: 'Roboto-Condensed-Light';
      position: inherit;
      margin-right: 20px;

      span {
        color: rgba($app-navbar-font-color, .7);
      }
    }

    .app-fx-left {
      app-search-bar {
        .app-search-bar-wrapper {
          max-width: $app-search-bar-width;
        }
      }
    }

    .app-fx-right {
      text-align: right;
      font-family: 'Roboto-Condensed';
      font-size: 1rem;

      span {
        padding: 0 10px;
      }
    }
  }
}
