//--- SVAZEK ---

.app-svazek-wrapper {
  display: flex;
  height: 100%;
  //@extend .app-full-wrapper;
 // padding: $app-container 0.5rem;

  .app-container-left {
    flex: 1;
    padding: $app-container;
    overflow: auto;
   }
  
  .app-container-right {
    flex: 2;
    padding: $app-container;
    overflow: auto;
    background-color: white;
  }

  .app-table-wrapper {

    &.app-table-left-bottom {
      height: 400px;
      overflow: auto;
    }

    &.app-table-right {
      height: 100%;
      overflow: auto;
    }

    .mat-table {
      width: 100%;

      thead {
        .mat-header-row {
          height: 140px;

          .mat-header-cell {
            background-color: $app-grey-l-2;
            vertical-align: bottom;
            border-right: 1px solid white;
            padding-bottom: 5px;

            &:not(.app-cell-rotate) {
              padding-left: 5px;
            }

            &.app-cell-rotate {
              height: 140px;
              white-space: nowrap;
              width: 30px !important;

              & > div {
                transform: rotate(-90deg);
                width: 30px !important;
                margin-bottom: 10px;
              } 
            }
          }
        }
      }

      tbody {
        .mat-row {
          .mat-cell {
            padding-left: 5px !important;

            .mat-form-field-wrapper {
              padding-bottom: 0;

              .mat-form-field-infix {
                border-top: 0;
              }
            }
          }
        }
      }
    }
  }
}