// --- ADMIN ---

.app-admin-wrapper {
  height: 100%;
  background-color: $app-gray-1;

  .app-fx-left {
    @extend .app-fx-facet;

    .mat-list {
      @extend .app-list-view-facet;
      padding: $app-gap 0;

      .mat-list-item {
        height: 30px !important;
        
        &.app-active {
          color: $app-primary-color-darker;
        }
      }
    }
  }

  .app-fx-right {
    padding: $app-gap;
    overflow: auto;
  }
}