// --- HOME ---

.app-home-wrapper {
  @extend .app-full-wrapper;
  height: calc(100% - #{$navbar-height});
  padding-top: 200px;
  
  section {
    
    &:first-child {
      & > .row {
        &:first-child,
        &:nth-child(2) {
          margin-bottom: 10px;
        }
      }
    }
  
    .brand-logo {
      font-size: 1.8rem;
      font-family: 'Roboto-Condensed-Light';
    }

    .app-search-bar-wrapper {
      border-color: $app-grey-l-3;

      &:hover {
        border-color: $app-grey-l-2;
      }
    } 
  }
}