// --- NAVBAR ---

app-navbar {
  .mat-toolbar {
    height: $app-navbar-height;
    background-color: $app-primary-color;

    a {
      color: $app-navbar-font-color;
      padding: 10px;

      &.app-user {
        padding: 0 10px;
        margin: 0 10px;
        color: $app-primary-color;
        background-color: rgba($app-color-white, 0.8);
      }

      &.active {
        @extend .app-font-bold;
        background-color: $app-primary-color-darker;
        color: $app-color-white;
        border-radius: $app-border-radius;
      }
    }

    .brand-logo {
      @extend .app-font-light;
      font-size: 1.8rem;
      position: inherit;
      margin-right: 20px;

      span {
        color: rgba($app-navbar-font-color, .7);
      }
    }

    .app-fx-left {
      app-search-bar {
        .app-search-bar-container {
          border-color: $app-color-white;
          max-width: $app-search-bar-max-width;
        }
      }
    }

    .app-fx-right {
      text-align: right;
    }
  }
}
