// --- NAVBAR ---

app-navbar {
  .mat-toolbar {
    height: $app-navbar-height;
    background-color: $app-primary-color;

    .app-fx-left {
      @extend .app-font-light;

      .app-logo {
        font-size: 1.8rem;
        position: inherit;
        //margin-right: 20px;
        color: $app-color-white;

        span {
          color: rgba($app-navbar-font-color, .7);
        }
      }

      span {
        &.app-pipe {
          border-color: rgba($app-navbar-font-color, .7) !important;
          font-size: 1.4rem;
          vertical-align: top;
        }

        &.app-route {
          font-size: 1.4rem;
          color: rgba($app-navbar-font-color, .7);
          vertical-align: top;
        }
      }
    }

    

    .app-fx-middle {
      app-search-bar {
        .app-search-bar-container {
          border-color: $app-color-white;
          max-width: $app-search-bar-max-width;
        }
      }
    }

    .app-fx-right {
      text-align: right;

      &.app-desktop {
        display: none;

        @media only screen and (min-width: 1500px ) {
          display: block;
        }
      }

      &.app-mobile {
        display: none;

        @media only screen and (max-width: 1499px ) {
          display: block;
        }
      }

      .app-sidenav-btn {
        .mat-icon {
          color: inherit !important; 
        } 
      }

      a {
        color: $app-navbar-font-color;
        padding: 10px;
  
        &.app-user {
          padding: 0 10px;
          margin: 0 10px;
          color: $app-primary-color;
          background-color: rgba($app-color-white, 0.8);
        }
  
        &.active {
          @extend .app-font-bold;
          background-color: $app-primary-color-darker;
          color: $app-color-white;
          border-radius: $app-border-radius;
        }
      }
    }
  }
}

.app-sidenav-container {
  position: absolute !important;
  z-index: 1090 !important;
  background-color: transparent;
  width: 100%;
  // height: calc(100% - 68px);

   &.mat-drawer-container-has-open {
    height: calc(100% - 68px);
  } 

  .mat-sidenav {
    .mat-list {
      .mat-list-item {
        a {
          color: $app-primary-color;
        }

        .mat-button-base {
          background-color: $app-gray-1;
        }
      }
    }
  }
}
