// --- GLOBAL ---

* {
  box-sizing: border-box;    
}

h1, h2, h3, h4, h5 {
  color: $secondary-color;
  margin-top: 0 !important;
}

a,
.app-cursor-pointer {
  cursor: pointer !important;
}


// font
.app-font-bold {
  font-family: 'Roboto-Condensed-Bold';
}

.app-font-light {
  font-family: 'Roboto-Condensed-Light';
}


//cleaners
.app-clean-mg {
  margin: 0 !important;
}

.app-clean-pd {
  padding: 0 !important;
}

.app-clean-radius {
  border-radius: 0 !important;
}

.app-clean-border {
  border: 0 !important;
}


// clearfix
.clearfix {
  @include clearfix();
}


// app preloader wrapper
.app-preloader-wrapper {
  margin-top: 100px;
}


// global wrapper, container
.app-full-wrapper {
  height: 100%;
  overflow: auto;
}

.app-container {
  padding: $app-container;
}


// others
.btn:not(.btn-floating) {
  @extend .z-depth-0;
  i {
    &.left {
      margin-right: 5px;
    }
    &.right {
      margin-left: 5px;
    } 
  }
}

.app-pipe {
  @include set-border(right, 1, solid, $app-grey-l-2);
  margin: 0 10px;
}

ul.app-pages{
  padding: 3px;
}

li.app-page-item{
  list-style-type: circle;
  display: inline-block;
  margin-right: 20px;
}
li.app-page-item label{
  padding-left: 22px;
}

.cdk-overlay-pane {
  background: white !important;
}

// icons
.mdi-newspaper,
.mdi-package {
  @extend .app-cursor-pointer;
  color: #00a5bb;
}


// alberto
.popover-backdrop {
  opacity: 0;
}

.popover-card {
  max-width: 800px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px ;
}

.popover-card::after {
  content: "";
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px ;
  transform: rotate(225deg);
  top: -10px;
  right: 25px;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #FFF #FFF transparent;
}
