//--- SVAZEK ---

.app-svazek-wrapper {
  display: flex;
  height: 100%;

  .app-container-left {
    flex: 1;
    padding: $app-container;
    //overflow: auto;
   }
  
  .app-container-right {
    flex: 2;
    padding: $app-container;
    padding-left:0;
   // overflow: auto;
  }

  .app-table-wrapper {
    &.app-left-top {
      height: $app-svazek-table-left-height;
      overflow: auto;

      .mat-footer-cell {
        padding-bottom: $app-container;

        &:last-child {
          display: none;
        }
      }
    }

    &.app-left-bottom {
      height: calc(100% - #{$app-svazek-table-left-height});
      overflow: auto;

      .mat-footer-cell {
        padding-bottom: 3px;

        &:not(:first-child) {
          display: none;
        }
      }
    }

    &.app-right {
      height: $app-svazek-table-right-height;
      overflow: auto;
    }

    .mat-table {
      width: 100%;

      th, td {
        &:last-child {
          border-right: 0 !important;
        }
      }

      thead {
        .mat-header-row {
          height: 40px;

          .mat-header-cell {
            background-color: $app-grey-l-2;
            vertical-align: bottom;
            border-right: 1px solid white;
            padding-bottom: $app-svazek-header-cell-bottom-space;

            // custom cell width
            &.app-cell-edit-issue {
              width: $app-svazek-cell-edit-issue-width;
              border-right: 0 !important;
            }

            &.app-cell-date {
              width: $app-svazek-cell-date-width;
            }

            &.app-cell-edition {
              width: $app-svazek-cell-edition-width;
            }

            &.app-cell-number {
              width: $app-svazek-cell-number-width;
            }


            &:not(.app-cell-rotate) {
              padding-left: 5px;
            }

            &.app-cell-rotate {
              height: $app-svazek-header-row-height;
              white-space: nowrap;
              width: 30px !important;

              & > div {
                transform: rotate(-90deg);
                width: 30px !important;
                margin-bottom: calc(#{$app-svazek-header-cell-bottom-space} * 2);
              } 
            }
          }
        }
      }

      tbody {
        .mat-row {
          .mat-cell {
            padding-left: 5px !important;
            font-size: $app-svazek-cell-font-size;

            &.app-cell-edition {
              .mat-form-field {
                width: $app-svazek-cell-edition-width;
              }
            }

            .mat-checkbox-inner-container {
              width: 15px;
              height: 15px;
            }

            .mat-form-field-wrapper {
              padding-bottom: 0;

              .mat-form-field-infix {
                border-top: 0;
              }
            }

            .mdi {
              @extend .app-cursor-pointer;
              color: $primary-color-dark;

              &:before {
                font-size: 18px;
              }
            }

            input {
              font-size: $app-svazek-cell-font-size;
            }
          }
        }
      }

      tfoot {
        background-color: $app-grey-l-4;

        .mat-footer-row {
          .mat-footer-cell {
            @extend .app-clean-border;
            padding-left: 5px !important;
            padding-top: 10px;
          }
        }
      }
    }
  }
}