// --- GLOBAL ---

* {
  box-sizing: border-box;    
}

h1, h2, h3, h4, h5 {
  color: $secondary-color;
  margin-top: 0 !important;
}

a,
.app-cursor-pointer {
  cursor: pointer !important;
}


// font
.app-font-bold {
  font-family: 'Roboto-Condensed-Bold';
}

.app-font-light {
  font-family: 'Roboto-Condensed-Light';
}


//cleaners
.app-clean-mg {
  margin: 0 !important;
}

.app-clean-pd {
  padding: 0 !important;
}

.app-clean-radius {
  border-radius: 0 !important;
}


// clearfix
.clearfix {
  @include clearfix();
}


// app preloader wrapper
.app-preloader-wrapper {
  margin-top: 100px;
}


// global wrapper, container
.app-full-wrapper {
  height: 100%;
  overflow: auto;
}

.app-container {
  padding: $app-container;
}


// others
button:not(.btn-floating) {
  @extend .z-depth-0;
  i {
    &.left {
      margin-right: 5px;
    }
    &.right {
      margin-left: 5px;
    } 
  }
}

.app-pipe {
  @include set-border(right, 1, solid, $app-grey-l-2);
  margin: 0 10px;
}

.app-table-cell-ex{
  
  width: 30px !important;
}

tr.mat-row{
  height: fit-content !important;
  font-size: .85em;
}

tr.mat-row td{
  padding: 3px !important;
}

tr.mat-row td input, tr.mat-row td p {
  border-bottom: none !important;
  box-shadow: none !important;
  margin: 0 !important;
  height: 1.2em !important;
}
tr.mat-row td textarea:focus {
  border-bottom: none!important;
  box-shadow: none!important;
}

.app-rotate {
  font-size: .85em;
  height: 30px !important;
  white-space: nowrap;
}
.app-rotate > div{
  width: 30px !important;
  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  

}
