<div class="app-calendar-day-content app-calendar-day-special" 
     [class.app-disabled]="isOtherMonth()" 
     [class.app-calendar-day-holiday]="special.type == 'svatek'" 
     [class.app-calendar-day-event]="special.type == 'udalost'">
  <div *ngIf="special.type" class="app-calendar-day-content-title left" mz-tooltip [tooltip]="special.title" [position]="'top'">
    <span>{{day | date: 'dd'}}</span>
  </div>
  <div *ngIf="!special.type" class="app-calendar-day-content-title left">
    {{day | date: 'dd'}}
  </div>
  <div class="app-calendar-day-content-menu right">
    <a id="{{day | date: 'dd'}}">
       <i mz-icon-mdi [icon]="'dots-vertical'"></i>
    </a>
    <mz-dropdown [id]="'calendar-menu'" [constrainWidth]="false" [dropdownButtonId]="day | date: 'dd'">
      <mz-dropdown-item><a href="javascript:void(0)">Přidat mutaci</a></mz-dropdown-item>
      <mz-dropdown-item><a href="javascript:void(0)">Přiřadit pozadí</a></mz-dropdown-item>
      <mz-dropdown-item><a href="javascript:void(0)">Smazat všechny mutace</a></mz-dropdown-item>
    </mz-dropdown>
  </div>
  <div class="clearfix"></div>
  <div *ngFor="let e of issues" class="app-calendar-day-content-item">
    <div [class]="'app-state-'+e.state" [routerLink]="['/issue', e.id]">
      {{e.mutace}}
      <span *ngIf="e.exemplare" class="app-count-ex right app-cursor-pointer" mz-tooltip [tooltip]="'Počet exemplářů'" [position]="'top'">{{e.exemplare.length}}</span>
      <span *ngIf="e.digitalizovano" class="right"><i mz-icon-mdi [icon]="'credit-card-scan'" [size]="'22'"></i></span>
    </div>
  </div>
</div>