<div class="app-calendar-day-content" [class.app-disabled]="isOtherMonth()">
  <div class="app-calendar-day-content-title">{{day | date: 'dd'}} {{special.title}}</div>
  <div *ngFor="let e of issues" class="app-calendar-day-content-item">
    <div [class]="'app-state-'+e.state" [routerLink]="['/issue', e.id]">
      {{e.mutace}}
      <span class="app-count-ex right app-cursor-pointer" mz-tooltip [tooltip]="'Počet exemplářů'" [position]="'top'">{{e.exemplare.length}}</span>
    </div>
    <!--<div class="app-desc">Počet exemplářů: {{e.exemplare.length}}</div>-->
  </div>
</div>