<app-toolbar></app-toolbar>

<div class="app-add-record-wrapper grey lighten-5">
  <div class="row">
    <div class="col s6">
      <mat-form-field>
        <input matInput [placeholder]="'record.meta_title' | translate" id="meta_nazev" name="meta_nazev" type="text" [(ngModel)]="state.currentTitul.meta_nazev">
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'record.name_title_page' | translate" id="nazev" name="nazev" type="text" [(ngModel)]="state.currentIssue.nazev">
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'record.subname_title_page' | translate" id="" type="text">
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'record.publication' | translate" id="" type="text">
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'record.mutation' | translate" id="" type="text">
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" [placeholder]="'record.date_publication' | translate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- <mz-datepicker-container>
        <i mz-icon-mdi matInput-prefix [icon]="'calendar'"></i>
        <input mz-datepicker [placeholder]="'record.date_publication' | translate" [ngModel] id="" type="tel" />
      </mz-datepicker-container> -->

      <mat-form-field>
        <mat-label>{{ 'record.time_publication.placeholder' | translate }}</mat-label>
        <mat-select>
          <mat-option>{{ 'record.time_publication.morning' | translate }}</mat-option>
          <mat-option>{{ 'record.time_publication.afternoon' | translate }}</mat-option>
          <mat-option>{{ 'record.time_publication.evening' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput [placeholder]="'record.pages_count' | translate" id="" type="text">
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'record.state' | translate" id="" type="text">
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'record.year' | translate" id="" type="text">
      </mat-form-field>
    </div><!--/.col -->
    
    <div class="col s6">
      <mat-form-field>
        <input matInput [placeholder]="'record.number' | translate" id="" type="text">
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'record.second_number' | translate" id="" type="text">
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'record.state_desc' | translate" id="" type="text">
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'record.ownership' | translate" id="" type="text">
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'record.barcode' | translate" id="" type="text">
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'record.signatura' | translate" id="" type="text">
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'record.id_bib_record' | translate" id="" type="text">
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'record.uuid_number' | translate" id="" type="text">
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'record.uuid_title' | translate" id="" type="text">
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'record.url_kramerius' | translate" id="" type="text">
      </mat-form-field>
    </div><!--/.col -->
  </div><!--/.row -->
</div><!--/.app-add-record-wrapper -->