<a [routerLink]="['calendar', 'month']" routerLinkActive="active">
  <i mz-icon-mdi [icon]="'calendar-today'" mz-tooltip [tooltip]="'Zobrazit měsíc'" class="app-cursor-pointer"></i>
</a>
<a [routerLink]="['calendar', 'year']" routerLinkActive="active">
  <i mz-icon-mdi [icon]="'calendar-range'" mz-tooltip [tooltip]="'Zobrazit rok'" class="app-cursor-pointer"></i>
</a>
<a [routerLink]="['calendar', 'list']" routerLinkActive="active">
  <i mz-icon-mdi [icon]="'calendar-text'" mz-tooltip [tooltip]="'Zobrazit seznam'" class="app-cursor-pointer"></i>
</a>