.day-content{
  background: white;
  color: black;
  font-size: 1em;
}

.day-content .title{
  font-weight: bold;
  font-size: .8em;
}

.other-month{
  opacity: .3;
}

.state-ok{
  color: green;
}

.state-auto{
  color: orange;
}