<mz-modal [fixedFooter]="true">
  <mz-modal-header>
    Modal Title
  </mz-modal-header>
  <mz-modal-content>
    <input name="cloneOd" />
    <input name="cloneDo" />
    <mz-select-container>
        <select mz-select id="Periodicita" name="Periodicita" [placeholder]="'Periodicita'" [(ngModel)]="state.currentIssue.periodicita">
          <option *ngFor="let p of periods">{{state.config['periodicity'][p]}}</option>
        </select>
      </mz-select-container>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>OK</button>
    <button mz-button [flat]="true" mz-modal-close>Cancel</button>
  </mz-modal-footer>
</mz-modal>