// --- HOME ---

.app-home-wrapper {
  height: calc(100% - #{$navbar-height});
  
  &.valign-wrapper {
    padding-top: $navbar-height;
    padding-bottom: 100px;
  }
  
  section {
    
    &:first-child {
      & > .row {
        &:first-child,
        &:nth-child(2) {
          margin-bottom: 10px;
        }
      }
    }
  
    .brand-logo {
      font-size: 1.8rem;
      font-family: 'Roboto-Condensed-Light';
    }

    .app-search-bar-wrapper {
      border-color: color("grey", "lighten-3");

      &:hover {
        border-color: color("grey", "lighten-2");
      }
    } 
  }
}