// --- VARIABLES --

// font path
$roboto-font-path:                "~/assets/fonts" !default;
$mdi-font-path:                   "~/assets/fonts" !default;

// colors
$primary-color:                   color("cyan", "base") !default;
$primary-color-light:             lighten($primary-color, 15%) !default;
$primary-color-dark:              darken($primary-color, 15%) !default;

$secondary-color:                 lighten($primary-color, 10%) !default;
$link-color:                      $primary-color !default;

$app-color-white:                 color("shades", "white") !default;

// custom
$app-grey:                        color("grey", "base") !default; // 9e9e9e -> arrow back next to logo
$app-grey-l-5:                    color("grey", "lighten-5") !default; // fafafa -> bg navbar, bg facets, bg metadata
$app-grey-l-2:                    color("grey", "lighten-2") !default; // e0e0e0 -> item border, search box border, facet separator line
$app-grey-l-1:                    color("grey", "lighten-1") !default; // bdbdbd -> light mdi color

$app-grey-d-1:                    color("grey", "darken-1") !default; // 757575 -> text color, dark mdi color
$app-grey-d-2:                    color("grey", "darken-2") !default; // 616161 -> text color darker
$app-grey-d-3:                    color("grey", "darken-3") !default; // 424242 -> metadada subtitle
$app-grey-d-4:                    color("grey", "darken-4") !default; // 212121 -> text color black - facet title, arrows etc.

$app-grey-c-2:                    color("custom", "grey-l-2") !default; // d2d2d2 -> navbar bottom border
$app-grey-c-1:                    color("custom", "grey-l-1") !default; // ebebeb -> tabs line, tabs of document type line

// global
$app-border-radius:               2px !default;

// toolbar
$app-toolbar-height:              55px !default;

// search bar 
$app-search-bar-height:           44px !default;

// global container
$app-container:                   1.25rem !default;

// facet col widht
$app-facet-width:                  320px;

// materialize variables
$navbar-font-color:               lighten($primary-color, 65%) !default;
$navbar-height:                   68px !default;

$button-padding:                  0 1rem !default;

$collection-active-bg-color:      color("grey", "lighten-3") !default;
$collection-active-color:         darken($collection-active-bg-color, 55%) !default;
$collection-hover-bg-color:       color("grey", "lighten-5") !default;

$table-striped-color:             color("grey", "lighten-4") !default;

$spinner-default-color:           color("orange", "base") !default;