// --- CALENDAR MONTH ---

.app-calendar-month {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: calc(100% - #{$app-container});

  .app-calendar-weekday {
    width: 14.28%;
    height: 25px;
    margin: 0px;
    color: $app-grey-d-1;
    padding: 0.3rem 0.5rem;
    font-size: 16px;
    @include set-border(right, 1, solid, #{$app-grey-l-2});

    &::first-letter {
      text-transform: uppercase;
    }

    &:nth-child(7n) {
      border-right: none !important;
    }
  }

  .app-calendar-day {
    width: 14.28%;
    height: 16.6666%;
    margin: 0px;
    @include set-border(right-bottom, 1, solid, #{$app-grey-l-2});

    &:nth-child(7n) {
      border-right: none !important;
    }

    .app-calendar-day-content {
      color: $app-color-black;
      font-size: 0.9rem;
      height: 100%;
      overflow: hidden;
      
      &.app-calendar-day-holiday {
        background-color: $app-grey-l-5;
        
        .app-calendar-day-content-title {
          @extend .app-cursor-pointer;
          
          span {
            display: block;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            line-height: 22px;
            text-align: center;
            background-color: $primary-color;
            color: $app-color-white; 
          }
        }
      }

      .app-calendar-day-content-title {
        font-size: 1rem;
        color: $app-grey-d-2;
        padding: 0.3rem 0.5rem;
      }

      .app-calendar-day-content-item {
        @extend .app-cursor-pointer;
        margin-bottom: 2px;
        
        & > div {
          padding: 0.1rem 0.5rem;
        }

        & > div[class*="app-state-"] {
          width: calc(100% - #{$app-container});
          border-radius: $app-border-radius;
          color: $app-color-white;
          
          .app-count-ex {
            border-radius: 50%;
            width: 14px;
            height: 14px;
            line-height: 14px;
            display: inline-block;
            text-align: center;
            background-color: $app-color-white;
            margin-top: 0.15rem;
          }
        }

        .app-state-ok {
          background-color: $app-state-ok;
          
          &:hover {
            background-color: lighten($app-state-ok, 5%);
          }
          
          .app-count-ex  {
            color: $app-state-ok;
          }
        }

        .app-state-auto {
          background-color: $app-state-auto;
          
          &:hover {
            background-color: lighten($app-state-auto, 5%);
          }
          
          .app-count-ex  {
            color: $app-state-auto;
          }
        }
      }

      &.app-disabled {
        .app-calendar-day-content-title {
          color: $app-grey-l-1;
        }
      }
    }
  }
}