// --- ISSUE ---

.app-issue-wrapper {
  @extend .app-full-wrapper;
  @extend .app-container;
  
  h5 {
    margin-bottom: 1.25rem;
  }
  
  .row {
    .col {
      form {
        section {
          margin-bottom: $app-container;
          
          &.app-exemplar-wrapper {
            position: relative;
            
            h5 {
              margin-top: 0.5rem !important;
            }
            
            .btn-floating {
              position: absolute;
              top: 0;
              right: 0;
            }
          }
          
          .collapsible {
            .collapsible-header {
              position: relative;
              min-height: 1.6rem;
              line-height: 1.6rem;
              @extend .app-font-bold;
              padding: 1.25rem;

              mz-collapsible-item-header {
                width: 100%;

                .mdi-chevron-down {
                  display: none;
                }
                .mdi-chevron-left {
                  display: block;
                }
                &.active {
                  .mdi-chevron-down {
                    display: block;
                  }
                  .mdi-chevron-left {
                    display: none;
                  }
                } 
              }
            }

            .collapsible-body {
              padding: 0 $app-container $app-container $app-container;
            }
          }     
        }
      }
    }
  }
}