// --- ADD RECORD ---

.app-add-record-wrapper {
  @extend .app-full-wrapper;
  padding: $app-container 0.5rem;
  
  .row {
    .col {
      &:nth-child(1) {
        padding-right: $app-container;
      }
      
      &:nth-child(2) {
        padding-left: $app-container;
      }
    }
  }
}