// --- LAYOUT ---

html,
body, 
app-root {
  width: 100%;
  height: 100%;
  display: block;
}

body {
  font-family: 'Roboto-Condensed-Regular';
}


app-root {
  main {
    width: 100%;
    height: calc(100% - (#{$navbar-height} + #{$app-toolbar-height}));
    
    app-home {
      width: 100%;
      
      @import "app-home";
    }
    
    app-toolbar {
      //height: $app-toolbar-height;
      //line-height: $app-toolbar-height;
      
      @import "app-toolbar";
    }
    
    & > section {
      display: flex;
      height: 100%;
      
      app-facet {
        order: 1;
        width: $app-facet-width;
        
        @import "app-facet-used";
        @import "app-facet";
      }

      app-calendar {
        order: 2;
        width: 100%;
        
        @import "app-calendar";
      }
      
      app-result {
        order: 2;
        width: 100%;
        
        @import "app-result";
      }
    }
  }  
}
